streamlit
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-groq
faiss-cpu
python-dotenv
pypdf
gTTS
pydub
elevenlabs
transformers
sentence-transformers

